*.pyc
*.pyo
data/eventMD-2*sqlite
.DS_Store
.idea/
MANIFEST
_docs/
_mosaic-examples/
_nistpages/
addons/.DS_Store
addons/mathematica/MosaicAnalysis.nb
addons/mathematica/MosaicUtils.nb
addons/mathematica/nanoporeAnalysis.nb
bin/plot2d.py
bin/test.py
build/
data/.DS_Store
data/2013_01_04_0002.abf
data/MOSAICReferenceData.zip
data/SingleChan-0001_1.bin
data/a_eventMD-tempMSA.sqlite
data/eventMD-20150723-204414.csv
data/eventMD-PEG28-cusumLevelAnalysis.csv
data/eventMD-PEG28-stepResponseAnalysis.csv
data/eventProcessing*.log
dist/
gists/
icons/.DS_Store
mosaic.egg-info/
mosaic/.DS_Store
mosaic/tests/.DS_Store
mosaic/tests/gentests/
mosaic/tests/testdata/.DS_Store
mosaic/tests/testdata/eventProcessing*.log
mosaic_devel_image.sh
mosaic_nist.egg-info/
mosaicgui/csvexportview/.DS_Store
mosaicscripts/.DS_Store
mosaicscripts/.ipynb_checkpoints/
msa.log
msa_mac_arvind_ssnp.log
msa_win.log
msa_win_kyle_ssnp.log
pyinstaller/build/
pyinstaller/dist/
refdat.prof
stats.txt
stats_mac_arvind_ssnp.txt
stats_win.txt
stats_win_kyle_ssnp.txt
temp/
data/eventMD-P28-bin.sqlite
mosaic/tests/testdata/*.sqlite
doctrees
latex
_nistpages/
data/SingleChan-*.*sv
data/SingleChan-*.bin
pyinstaller/icon.*
_testnotebooks/
mosaic/utilities/.ga
conda-build/
.coverage
cover/
travis-debug
coverage.xml
.eggs
