.gitignore
.DS_Store
*pyc
dist/
pyinstaller/dist/
pyinstaller/build/
mosaic/utest/gen-testdata/
doctrees/
data/eventProcessing.log
_docs
data/*eventMD-20*sqlite
mosaic.egg-info/
mosaic/utest/testdata/eventProcessing.log
mosaic/utest/gentests/
build/
MANIFEST
addons/mathematica/nanoporeAnalysis.nb
addons/mathematica/MosaicUtils.nb
addons/mathematica/MosaicAnalysis.nb
bin/plot2d.py
data/*eventMD-tempMSA.sqlite
.idea/
mosaicgui/redirectSTDOUT.py
mosaic/iswt.py
mosaic/npfifo.py
dox/
mosaic_nist.egg-info/
pypidownloads.py
bin/test.py
data/MOSAICReferenceData.zip
data/SingleChan-0001_1.bin
