include *.txt
include *.rst
recursive-include tests/ *
recursive-include mosaic/tests/testdata *.prm
recursive-include mosaic/tests/testdata *.csv
recursive-include mosaic/tests/testdata *.tsv
recursive-include mosaic/tests/testdata *.qdf
recursive-include mosaic/tests/testdata *.bin
recursive-include mosaic/tests/testdata *.json
recursive-include mosaicweb/static/css *
recursive-include mosaicweb/static/js *
recursive-include mosaicweb/static/img *
recursive-include mosaicweb/static/partials *
recursive-include mosaicweb/templates *
