@import url("//fonts.googleapis.com/css?family=Roboto:300,400,500");
body {
	font-family: Roboto, Helvetica, sans-serif;
	font-weight: 300; 
	font-size: 12pt;
	padding-top:75px;
}

a {
	color: #696969;
}

.navbar-default {
  background-image: -webkit-linear-gradient(top, #D4D7D9 0%, #D4D7D9 100%);
  background-image:      -o-linear-gradient(top, #D4D7D9 0%, #D4D7D9 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#D4D7D9), to(#D4D7D9));
  background-image:         linear-gradient(to bottom, #D4D7D9 0%, #D4D7D9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D4D7D9', endColorstr='#D4D7D9', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
}
