@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic");
body {
	font-family: Roboto, sans-serif;
	font-weight: 300; 
	font-size: 12pt;
	padding-top:75px;
}
a {
	color: #2F378F;
}
.navbar-default {
	background-image: -webkit-linear-gradient(top, #D4D7D9 0%, #D4D7D9 100%);
	background-image:      -o-linear-gradient(top, #D4D7D9 0%, #D4D7D9 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#D4D7D9), to(#D4D7D9));
	background-image:         linear-gradient(to bottom, #D4D7D9 0%, #D4D7D9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D4D7D9', endColorstr='#D4D7D9', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat: repeat-x;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
					box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
}
p.highlight-mosaic {
    padding:10px;
    color: #696969;
    font-size: 15pt;
/*    font-size: 1.5vw;*/
}
.cite {
    font-size: 12pt;
    font-size: 1.25vw;
	color: black;
    background-color: #EFEFEF;
	width: 95.4%;
	padding-left: 60px;
	padding-top: 20px;
	padding-bottom: 20px ;
	text-indent: -30px ;
	line-height: 175%;
}
.footer{
	color: #696969;
	font-size: 10pt;
	padding-top: 20px;
	padding: 0px;
}
.grayscale { 
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);	
	opacity: 0.75;
}
.downloadtitle, .downloadversion {
	font-size: 20pt;
	color: #696969;
	padding-left: 30px;
}
h2.blurbhead {
    color: #545353;
    font-size: 24pt;
    font-size: 2.25vw;
	font-weight: normal;
}
p.blurbtext {
    color: #696969;
    font-size: 16pt;
    font-size: 1.5vw;
    padding: 25px;
	text-align: justify;
	text-justify: inter-word;
}
p.downloadtext {
	color: #696969;
	padding:0px;
	font-size: 12pt;
	text-align: left;
}
a.footer{
	color: #2F378F;
	text-decoration: none;
}
div.highlight-mosaic {
	margin: 0 auto;
    display: block;
    float: center;
    background-color: #D4D7D9;
    width: 700px;
    box-shadow: 5px 5px 5px #888888;
  	border-radius: 3px;
}
div.mosaicinfo {
    display: block;
    float: center;
    width: 100%;    
}
h1.download {
    color: white;
    background-color: #2F378F;
	border-style: solid;
	border-color: #2F378F;
	border-radius: 3px;
	margin: 0;
	font-size: 14pt;
/*	font-size: 2vw;*/
	width: 250px;
/*	width: 25vw;*/
	height: 50px;
/*	height: 5vw;*/
	padding-top:5px;
	padding-bottom:10px;
	box-shadow: 2px 2px 5px #888888;
}
table {
	width=100%;
	height=100%;
	padding: 0px;
	border-spacing: 5px;
}
table.downloadtable {
	width=80%;
	border-collapse: separate; 
	border-spacing: 0 0;
}
table.dark {
	background-color: #EFEFEF;
}
table.footer {
	margin: 0;
	border-collapse: collapse;
}
td.logo {
	padding: 50px;
}
td.downloadtext {
	font-size: 12pt;
	padding: 0;
}
tr.blurbimg {
	padding:10px;
	padding-top: 30px;
}
hr {
	width: 100%;
	height: 1.5px;
	margin-left: auto;
	margin-right: auto;
	background-color:#EDEDED;
	opacity: 0.8;
	border: 0 none;
}
a.plats {
	font-size: 10pt;
/*	font-size: 1vw;*/
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	color: #c6c6c6;
	text-decoration: none;
}
a.plats:hover {
	cursor: pointer;
}
a.tablinks {
	font-size: 10pt;
/*	font-size: 1.25vw;*/
	color: #696969;
	padding-right: 20px;
}
a.tlinks {
	font-size: 10pt;
/*	font-size: 1.25vw;*/
	color: #696969;
	text-align: right;
}
a.citelinks {
	font-size: 12pt;
	font-size: 1.25vw;
	color: black;
}
a.downloadurl {
    color: white;
	text-decoration: none;
}
a.downloadurl:hover {
	color: white;
	cursor: pointer;	
	text-decoration: none;
}
a.downloadtext {
	color: #696969;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:50px;
	padding-right:20px;
	font-size: 12pt;
/*	font-size: 1.5vw;*/
	text-align: left;
	text-decoration: underline;
}
a.downloadtext:hover {
	cursor: pointer;
	font-size: 12pt;
}
.footer {
	color: #696969;
}
img.mosaiclogo{
/*	box-shadow: 10px 10px 5px #888888;*/
}
img.nistlogo{
	margin: 0;
	padding-bottom: 10px;
}
