<div id="popupContainer" flex layout="column" layout-align="center center" layout-padding ng-cloak>
	<div flex="100" layout="column" layout-gt-sm="column" class="" layout-align="center center" layout-padding>
		<br>
		<img height="200" width="200" src="static/img/icon.png" layout-padding id="gsimage">           
		<br>
		<div layout="column" layout-align="center center">
			<p style="color: #696969; font-weight: 200; font-size: 30px; padding: 0; margin: 0;">404</p>
			<p style="color: #696969; font-weight: 100; font-size: 14px; padding: 0; margin: 0;"><em>Sorry, we can't find the page you are looking for.</em></p>
			<md-button class="md-primary" type="button"
				ng-href="/#">
				MOSAIC Home Page
			</md-button>
		</div>
	</div>
</div>
