<md-dialog aria-label="Analysis Statistics" flex="60">
	<md-toolbar class="md-primary md-whiteframe-z4">
		<div class="md-toolbar-tools">
			<h3><em>Analysis Statistics</em></h3>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-icon md-font-set="material-icons md-24">close</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content layout="column">
		<md-content class="md-padding" layout="column" style="background-color: transparent" flex>
			<div>
				<plotly plotly-data="model.errorStats.data" plotly-layout="model.errorStats.layout" plotly-options="model.errorStats.options"></plotly>
			</div>
		</md-content>
		
		<md-content class="md-padding" layout="row" layout-align="center center" style="background-color: transparent" flex="100">
			<section class="md-whiteframe-z2 md-padding" layout="column" style="margin: 8px; padding:8px; background: transparent" flex>
				<md-subheader class="md-primary" style="margin: 0; padding:0; background-color: transparent">
					<p>Metrics</p>
				</md-subheader>
				
				<div layout="row" flex>
					<div flex="60"><p style="color: #696969; padding:0; margin:0; padding-left: 0px; padding-bottom: 12px;"><small>&#x3008;<em>i<sub>0</sub></em>&#x3009;</small></p></div>
					<div flex><p style="color: #696969; padding:0; margin:0;"><small>{{model.analysisStats.openChannelCurrentMean}}&#177;{{model.analysisStats.openChannelCurrentSigma}} pA</small></p></div>
				</div>
				<div layout="row" flex>
					<div flex="60"><p style="color: #696969; padding:0; margin:0; padding-left: 8px; padding-bottom: 12px;"><small><em>Capture Rate</em></small></p></div>					
					<div flex><p style="color: #696969; padding:0; margin:0;"><small>{{model.analysisStats.captureRateMean}}&#177;{{model.analysisStats.captureRateSigma}} s<sup>-1</sup></small></p></div>
				</div>
				<div layout="row" flex>
					<div flex="60"><p style="color: #696969; padding:0; margin:0; padding-left: 8px; padding-bottom: 12px;"><small><em>Time Per Event</em></small></p></div>
					<div flex><p style="color: #696969; padding:0; margin:0;"><small>{{model.analysisStats.processTimePerEventMean}}&#177;{{model.analysisStats.processTimePerEventSigma}} ms</small></p></div>
				</div>
			</section>

			<section class="md-whiteframe-z2" layout="column" style="margin: 8px; padding:8px; background: transparent" flex>
				<md-subheader class="md-primary" style="margin: 0; padding:0; background-color: transparent">
					<p>Errors & Warnings</p>
				</md-subheader>
			
				<div layout="row" flex>
					<div flex="60"><p style="color: #696969; padding:0; margin:0; padding-left: 8px; padding-bottom: 12px;"><small><em>Events Processed</em></small></p></div>
					<div flex><p style="color: #696969; padding:0; margin:0;"><small>{{model.analysisStats.nTotal}}</small></p></div>
				</div>
				<div layout="row" flex>
					<div flex="60"><p style="color: #696969; padding:0; margin:0; padding-left: 8px; padding-bottom: 12px;"><small><em>Errors</em></small></p></div>
					<div flex><p style="color: #696969; padding:0; margin:0;"><small>{{model.errors}} ({{model.errorPercent}}%)</small></p></div>
				</div>
				<div layout="row" flex>
					<div flex="60"><p style="color: #696969; padding:0; margin:0; padding-left: 8px; padding-bottom: 12px;"><small><em>Warnings</em></small></p></div>
					<div flex><p style="color: #696969; padding:0; margin:0;"><small>{{model.warnings}} ({{model.warnPercent}}%)</small></p></div>
				</div>
			</section>
		</md-content>
	</md-dialog-content>
</md-dialog>