<md-content layout="column" class="md-padding md-whiteframe" ng-if="model.pageError"
	layout-align="center center" flex ng-cloak>
		<span flex>
			<md-icon md-font-set="material-icons md-48" style="font-size: 128px; padding: 10%" flex>
				error
			</md-icon>
		</span>
		<span flex>An error occured</span>
		<md-button class="md-primary" type="button"
			ng-click="" style="padding:20px;">
			Retry
		</md-button>
</md-content>

<md-content layout="column" class="md-padding" ng-if="!model.pageError"
	flex-gt-sm="80" flex-offset-gt-sm="10" flex-gt-md="60" flex-offset-gt-md="20" ng-cloak>
	<md-button class="md-fab md-warn md-fab-bottom-right" style="position:fixed !important; padding:16px;" ng-click="updateControls()" ng-if="model.requireControlUpdate">
		<md-tooltip md-direction="left">Apply Changes</md-tooltip>
		<md-icon md-font-set="material-icons md-24">check</md-icon>
	</md-button>

	<div layout="column" class="md-whiteframe-z2 content-wrapper md-padding" flex="100">
		<div layout="row" flex layout-align="start center">
			<span flex="40" style="color:#696969;">Analysis Control</span>
			<span flex-gt-sm="grow" flex> </span>
			<!-- <p flex="40" style="color: #696969;"><small><em>Events Processed:</em> {{model.analysisPlot.stats.eventsProcessed}}</small></p> -->
			<span flex="10">
				<md-button class="md-accent" type="button"
					ng-click="model.stopAnalysis()" ng-if="mosaicConfigModel.analysisRunning">
					Stop Analysis
				</md-button>
			</span>
			<span flex-gt-sm="15" flex="30"></span>
			<md-progress-circular md-mode="indeterminate" class="md-primary" md-diameter="20" ng-if="mosaicConfigModel.analysisRunning" ></md-progress-circular>
			<span flex="5"></span>
			<md-button class="md-icon-button" style="padding-right:12px;" aria-label="Analysis Settings" ng-click="showAnalysisSettings()">
				<md-tooltip md-direction="bottom">Analysis Settings</md-tooltip>
				<md-icon md-font-set="material-icons md-24">settings</md-icon>
			</md-button>
			<span flex></span>
			<md-button class="md-icon-button" aria-label="Analysis Control" ng-hide="model.showAnalysisControl" ng-click="model.toggleAnalysisControlFlag()">
				<md-icon md-font-set="material-icons md-24">expand_more</md-icon>
			</md-button>
			<md-button class="md-icon-button" aria-label="Analysis Control" ng-show="model.showAnalysisControl" ng-click="model.toggleAnalysisControlFlag()">
				<md-icon md-font-set="material-icons md-24">expand_less</md-icon>
			</md-button>
		</div>
		<div layout="row" layout-align="start start" ng-if="model.showAnalysisControl">
			<div layout="row" layout-align="start center" flex-gt-sm="90" flex="70">
				<md-button class="md-icon-button" aria-label="Analysis Log" ng-click="showEventViewer($event)">
				 <!-- ng-disabled="!setupModel.analysisSettings.eventSegment.writeEventTS"> -->
					<md-tooltip md-direction="bottom">Explore Event Fits</md-tooltip>
					<md-icon md-font-set="material-icons md-24">explore</md-icon>
				</md-button>
				<md-button class="md-icon-button" aria-label="Analysis Log" ng-click="showAnalysisLog($event)">
					<md-tooltip md-direction="bottom">Analysis Log</md-tooltip>
					<md-icon md-font-set="material-icons md-24">description</md-icon>
				</md-button>				
				<md-menu layout-align="center center">
					<md-button ng-click="$mdOpenMenu()" class="md-icon-button" aria-label="Overflow">
						<md-tooltip md-direction="bottom">Download Analysis Database</md-tooltip>
						<md-icon md-font-set="material-icons md-24">file_download</md-icon>
					</md-button>
					<md-menu-content width="2">
						<md-menu-item ng-click="$mdMenu.hide()">
							<md-button aria-label="SQLite" ng-click="" ng-disabled="true">
								<p class="md-primary">SQLite Database</p>
							</md-button>
						</md-menu-item>
						<md-menu-item ng-click="$mdMenu.hide()">
							<md-button ng-click="model.exportAnalysisDatabaseCSV()">
								<p class="md-primary">CSV</p>
							</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
				<span flex></span>
			</div>			
		</div>
		<section ng-if="model.showAnalysisControl" layout="column">
			<md-subheader class="md-primary">Information and Statistics</md-subheader>
			<div layout="row" layout-align="start center" style="padding:0; margin:0;">
				<!-- <p style="color: #696969; padding:0; margin:0; padding-right: 16px; padding-left: 16px;"><small><em>Capture Rate:</em> {{statsModel.analysisStats.captureRateMean}}&#177;{{statsModel.analysisStats.captureRateSigma}} s<sup>-1</sup></small></p> -->
				<p style="color: #696969; padding:0; margin:0; padding-right: 16px; padding-left: 16px; padding-bottom: 4px;"><small><em>Events Processed:</em> {{statsModel.analysisStats.nTotal}}</small></p>
				<p style="color: #696969; padding:0; margin:0; padding-right: 16px; padding-bottom: 4px;"><small><em>Analysis Progress:</em> {{statsModel.analysisStats.analysisProgressPercent}} %</small></p>
				<md-button class="md-mini md-primary" type="button"
					ng-if="model.showAnalysisControl" ng-click="showAnalysisStatistics($event)">
					<md-tooltip md-direction="right">Show additional analysis statistics</md-tooltip>
					<small>More</small>
				</md-button>
				<span flex></span>
			</div>
		</section>
	</div>
	<br/>
	<div class="md-whiteframe-z2 md-padding" layout="row">
		<md-tabs md-dynamic-height class="histTabs md-padding" flex>
			<md-tab label="Density Plot" ng-disabled="false">
				<div class="md-padding" layout="column" flex ng-include="'/static/partials/Contour.tmpl.html'"></div>
			</md-tab>
			<md-tab label="Histogram">
				<div class="md-padding" layout="column" flex ng-include="'/static/partials/Histogram.tmpl.html'"></div>
			</md-tab>
		</md-tabs>
		<md-progress-circular md-mode="indeterminate" class="md-primary" md-diameter="20" ng-if="model.histLoading || model.contourLoading"></md-progress-circular>
	</div>
	<br>
</md-content>