<md-dialog aria-label="Analysis Log" flex="55" style="max-height: 600px;">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h3><em>Analysis Log</em></h3>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon md-font-set="material-icons md-24">close</md-icon>
				</md-button>        
			</div>
		</md-toolbar>
		<md-dialog-content style="max-width:800px;max-height:810px; ">
					<md-content class="md-padding">
						<!-- <h1 class="md-display-2">Analysis Log</h1> -->
						<p style="white-space: pre-wrap; font-size: 12px;">{{logText}}</p>
					</md-content>
		</md-dialog-content>
</md-dialog>