<div layout-gt-sm="row" layout="column" layout-align="center center" flex="60">
	<br>
	<div flex-gt-sm="80" flex-gt-md="85" flex="70" class="md-whiteframe" layout-align="center center" layout-padding>
		<plotly plotly-data="model.analysisPlot.data" plotly-layout="model.analysisPlot.layout" plotly-options="model.analysisPlot.options"></plotly>
	</div>
	<br>
	<div flex layout-gt-sm="column" layout="row">
		<md-radio-group ng-model="model.analysisPlot.layout.xaxis.type" class="md-primary">
			<label>X-axis</label>
			<md-radio-button value="linear">linear</md-radio-button>
			<md-radio-button value="log">log</md-radio-button>
		</md-radio-group>
		<span flex="5"></span>
		<md-radio-group ng-model="model.analysisPlot.layout.yaxis.type" class="md-primary">
			<label>Y-axis</label>
			<md-radio-button value="linear">linear</md-radio-button>
			<md-radio-button value="log">log</md-radio-button>
		</md-radio-group>
		<span flex="5"></span>
		<md-checkbox ng-model="model.histDensity" aria-label="Histogram Type" class="md-primary md-align-top-left" flex-gt-md>
			Density
		</md-checkbox>
	</div>
</div>

<form name="analysisHistogramForm" ng-submit="updateControls()">
	<div flex class="md-whiteframe" layout-align="space-between center">
		<div layout="row">
			<md-input-container class="md-block" flex="80">
				<label>Query</label>
				<input 	type="text" name="bdQuery"
						ng-model="model.bdQuery" ng-model-options="{ updateOn: 'blur', allowInvalid: false}">
			</md-input-container>
			<span flex="5"></span>
			<md-input-container class="md-block" flex="10">
				<label>Bins</label>
				<input 	type="number" name="bdBins"
						ng-model="model.bdBins" ng-model-options="{ updateOn: 'blur', allowInvalid: false}">
				<div ng-messages="analysisHistogramForm.bdBins.$error" multiple md-auto-hide="false">
					<div ng-message="required">The number of bins must be specified.</div>
					<div ng-message="min">Bin Size must be positive.</div>
				</div>
			</md-input-container>
		</div>
		<md-button class="md-primary" type="button"
			ng-click="" ng-disabled="true">
			<md-tooltip md-direction="right">Export histogram data in CSV format</md-tooltip>
			Export to CSV
		</md-button>
	</div>
</form>