<md-dialog aria-label="Terms of Use">
	<form>
		<md-toolbar class="md-primary">
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon md-font-set="material-icons md-24">close</md-icon>
				</md-button>
				<h3><em>Terms of Use</em></h3>
				<span flex></span>
			</div>
		</md-toolbar>
		<md-dialog-content style="max-width:800px;max-height:810px;" layout-padding>
			<p>This software was developed at the National Institute of Standards and Technology by employees of the Federal Government in the course of their official duties. Pursuant to title 17 Section 105 of the United States Code this software is not subject to copyright protection and is in the public domain. Each of these packages is an experimental system. NIST assumes no responsibility whatsoever for its use by other parties, and makes no guarantees, expressed or implied, about its quality, reliability,or any other characteristic. This software can be redistributed and/or modified freely provided that any derivative works bear some notice that they are derived from it, and any modified versions bear some notice that they have been modified.</p>

			<h3><em>Disclaimer</em></h3>

			<p>Certain commercial firms and trade names are identified in this document in order to specify the installation and usage procedures adequately. Such identification is not intended to imply recommendation or endorsement by the National Institute of Standards and Technology, nor is it intended to imply that related products are necessarily the best available for the purpose.</p>
		</md-dialog-content>
	</form>
</md-dialog>