html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

/* Toolbar area */

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}

md-toolbar h4 {
  margin: auto;
  color: #696969;
  margin: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: 'Roboto', sans-serif;
  font-size:16px;
  font-weight: 200;
  text-transform: capitalize;
}

md-toolbar h3 {
  margin: 0;
  color: #696969;
  margin: 0px;
  padding-left: 20px;
  font-family: 'Roboto', sans-serif;
  font-size:26px;
  font-weight: 400;
}

.material-icons.md-24 { 
  font-size: 24px; 
  color: #696969;
}

md-toolbar {
  /*background-color: #D4D7D9;*/
  background-color: white;
}

.download {
  background-color: #283593; 
  min-width: 120px;
}
.download:not([disabled]):hover {
  background-color: rgba(1,1,1,0.2);
  color: #283593;
}

.download h4 {
  color: white;
  margin: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  text-transform: inherit;
}
.download:not([disabled]):hover h4 {
  color: #696969;
}

.mlogo {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 0px;
}

/* Primary content area */

/*#content {
  overflow: hidden;
}*/

#content  {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 30px;
}

#footer  {
  padding-left: 0%;
  padding-right: 0%;
}


#content .md-button.contact {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  margin: 8px auto 16px 0;
  position: absolute;
  top: 10px;
  right: 40px;
}

#content md-icon.avatar {
  margin-top: 10px;
}

#content .md-button.contact > md-icon {
  fill:black;
  width:36px;
  height:36px;
}

md-button.menuBtn > md-icon {
  fill:white;
  width:24px;
  height:24px;
}

#content .md-button.contact:active > md-icon {
  background-color: #dadada;
  border-radius: 75%;
  padding:4px;
  transition: all 100ms ease-out 30ms;
}

#content img {
  display: block;
  height: auto;
  max-width: 500px;
}

.icon-frame {
  height: 250px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-radius: 10px;
  /*background: rgba(41, 50, 145, 0.075)*/
}

.icon-frame img {
  width: 200px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
/* Utils */

.content-wrapper {
  position: relative;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}

span.name {
  font-weight: bold;
  font-size:1.1em;
  padding-left:5px;
}


.md-grid-list {
  margin: 8px; 
}
.gray {
  background: #f5f5f5; 
}
.green {
  background: #b9f6ca; 
}
.yellow {
  background: #ffff8d; 
}
.blue {
  background: #84ffff; 
}
.purple {
  background: #b388ff; 
}
.red {
  background: #ff8a80; 
}
.script {
  background: #272821; 
}
.gui {
  /*background-color: #AEBEC8;*/
  /*background: rgba(91, 56, 143,0.8);*/
  background: rgba(92, 101, 156, 0.8);
}
.getmore {
  background-color: #F2F2F2;
  /*background-color: rgba(2,2,250,0.3);*/
}
.workflow {
  background: white;
  /*background-color: #ff8a80;*/
}
.md-grid-tile {
  transition: all 400ms ease-out 50ms; 
}

p {
  text-indent: 20px;
  color: #696969;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 200;
}

.tagline {
  padding: 20px;
  padding-right: 10px;
}

.tagline p {
  text-indent: 0px;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.tagline a {
  color: black;
  text-decoration: none;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.md-list-item-text {
  color: #696969;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.script p {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  padding-left: 5px;
}

.gui p {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  color: #dedede;
  /*color: white;*/
}

.m-grid-tile h2 {
  color: white;
  margin: 0;
  padding-left: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-transform: inherit;
}

.m-grid-tile h4 {
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-transform: inherit;
}
.md-actions h4 {
  color: #283593;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-transform: inherit;
}
.m-grid-tile div {
  padding: 5px;
}

h1 {
  margin: auto;
  color: #696969;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  font-size:32px;
  font-weight: 300;
}

.page-footer a {
  text-decoration: none;
}

.page-footer h2 {
  padding-top: 10px;
  color: #696969;
  font-family: 'Roboto', sans-serif;
  font-size:16px;
  font-weight: 200; 
}

.download-links h4 {
  padding: 0px;
  margin: 0px;
  color: #696969;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 200;
  text-transform: inherit;
}

.download-links a {
    color: #696969;
}

.download-page h2 {
  padding: 0px;
  margin: 0px;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-transform: inherit; 
}

.sidenav h2 {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0px;
  /*color: #283593;*/
  color: #696969;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 200;
  text-transform: inherit; 
}

.sidenav a {
  text-decoration: none;
}

.sidenav h1 {
  padding-left: 20px;
  padding-bottom: 5px;
  margin: 0px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: 400;
  font-style: italic;
  text-transform: inherit; 
}

.download-page img {
  padding-top: 10px;
  padding-left: 20px;
}

/*.submit {
  border: none;
  background-color: #283593;
  border-radius: 5%;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 200;
}*/