.histTabs md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
		background-color:#283593 !important; }

.animate-enter {
		-webkit-transition: 1s linear all; /* Chrome */
		transition: 1s linear all;
		opacity: 0;
	}
	 
.animate-enter.animate-enter-active {
	opacity: 1;
}

._md-center {
	left: 50%;
	transform: translate3d(-50%, 0, 0);
}