<div layout="column" layout-align="center center">
	<br>
	<br>

	<img height="100" width="100" src="static/img/icon.png" layout-padding>   

	<h4><em>MOSAIC</em> WEB</h4>

	<div layout="column" layout-align="center center">
		<p style="padding: 5px; margin: 0px;"> Version {{aboutFactory.about.uiver}}</p>
		<p style="padding: 5px; margin: 0px;"><small><em>MOSAIC</em>: v{{aboutFactory.about.ver}} ({{aboutFactory.about.build}})</small></p>
	</div>
	
	<br>
	<p>National Institute of Standards and Technology</p>

	<table>
		<tr>
			<td><md-button class="md-primary" ng-click="showTermsOfUse()"><small>Terms of Use</small></md-button></td>
			<!-- <td><md-button class="md-primary" ng-click="showDisclaimer()"><small>Disclaimer</small></md-button></td> -->
			<td><md-button class="md-primary" ng-click="showDevelopers()"><small>Developers<small></md-button></td>
		</tr>
	</table>
	<div layout="column" ng-if="mosaicConfigModel.analysisRunning" flex ng-include="'/static/partials/BackToAnalysisFAB.tmpl.html'"></div>
</div>