<!-- ng-controller="AppCtrl" -->
<md-dialog aria-label="New Analysis" flex>
	<form layout="column" ng-submit="answer('Update')" name="advancedSettingsForm">
		<md-toolbar class="md-primary md-whiteframe-z3">
			<div class="md-toolbar-tools">
				<h3><em>Advanced Analysis Settings</em></h3>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon md-font-set="material-icons md-24">close</md-icon>
				</md-button>
			</div>
		</md-toolbar>

		<!-- <md-dialog-content style="max-width:800px;max-height:510px;"> -->
		<md-dialog-content>
			<md-content class="md-whiteframe" style="margin: 16px; padding: 16px">
				<md-input-container class="md-block">
					<textarea ng-model="model.analysisSettings" tabindex="0" style="color: #696969; font-size: 14px;" aria-label="Advanced Settings"></textarea>
				</md-input-container>
			</md-content>
	</form>
	</md-dialog-content>
	<md-dialog-actions layout="row">
		<p md-colors="{color:'warn'}" style="font-size: 12px;">{{model.errorString}}</p>
		<span flex></span>
		<md-progress-circular md-mode="indeterminate" class="md-primary" md-diameter="24" ng-if="model.validatingSettings"></md-progress-circular>
		<md-button class="md-primary" type="submit" ng-click="submitSettings()">Update</md-button>
	</md-dialog-actions>
</md-dialog>
