<md-dialog aria-label="Terms of Use">
	<form>
		<md-toolbar class="md-primary">
			<div class="md-toolbar-tools">
				<h3><em>Disclaimer</em></h3>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon md-font-set="material-icons md-24">close</md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content style="max-width:800px;max-height:810px;" flex layout-padding>
			<p>Certain commercial firms and trade names are identified in this document in order to specify the installation and usage procedures adequately. Such identification is not intended to imply recommendation or endorsement by the National Institute of Standards and Technology, nor is it intended to imply that related products are necessarily the best available for the purpose.</p>
		</md-dialog-content>
	</form>
</md-dialog>